/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2019, 2:06:35 PM
    Author     : 987000
*/

body.background {
    background-image: url(../homework2/background.png);
    font-family: Verdana, Tahoma,sans-serif;
    font-size: 8pt;
    padding: 0;
    margin: 0;
}

.top_bg {
    background-image: url(../homework2/bannerbg.png);
    text-align: center;
}

#moviehead {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}

#content {
    position: relative;
    border-radius: 20px;
    width: 800px;
    margin: auto;
    border: 4px gray solid;
    overflow: hidden;
    bottom: 0;
}

#rightSection {
    background-color: #A2B964;
    width: 250px;
    float: right;
}

#rightSection dl {
    margin: 10pt;
    font-size: 8pt;
    font-family: Arial,sans-serif;
}

#rightSection dl dt {
    font-weight: bold;
}

#leftSection {
    position: absolute;
    width: 550px;
    top: 0;
    left: 0;
}

.leftHead{
    background-image: url("../homework2/rbg.png");
    background-repeat: repeat-x;
    text-align: left;
    height: 83px;
}
#rate{
    color: red;
    font-size: 48pt;
    font-weight: bold;
    vertical-align: text-bottom;
}
.column{
    float: left;
    width: 47%;
    margin-right: 2%;
}
.box{
    font-weight:bold;
    font-size: 8pt;
    background-color: #E8DC9B;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 8px;
    overflow: auto;
}
.box img{
    float: left;
    margin-right: 5px;
}
.pub{
    font-style: italic;
}
.peo{
    text-align: left;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 20pt;
}
.peo img{
    float: left;
}
.foot{
    background-color: #A2B964;
    text-align: center;
    clear: both;
    margin-bottom: 0;
}
.check{
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}